@page
@model Razor_pages1.Pages.ProductMaster.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3>Index</h3>
<hr/>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].qty)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@if(Model.Product !=null && Model.Product.Any())
        {
            @foreach (var item in Model.Product)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.qty)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">
                    Products not Available 
                </td>
            </tr>
        }
    </tbody>
</table>
